body{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: chartreuse;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0;
}

#zoomIn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#zoomIn:hover {
  background-color: #45a049;
}
#zoomIn:active {
  background-color: rgb(4, 102, 42);
}

#zoomOut {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#zoomOut:hover {
  background-color: #45a049;
}
#zoomOut:active {
  background-color: rgb(4, 102, 42);
}

#naziv_planeta {
  position: absolute;
  top: 100px;     
  left: center;    
  color: white;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
  font-style: italic, sans-serif;
}

#opis_planeta {
  position: absolute;
  top: center;    
  right: 100px;      
  color: white;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
}
